/build_local
*.class
/fitsBasicTestOutput.xml

# Directory created by fits-blackbox-tester
.bb-testing/

# Mac OS X system file
.DS_Store
/fits.log
/lib-fits/
/classes/
/build/
/fits-tests.log
/javadoc/
/target/
/version.properties
