.wrapper {
	max-width: calc(1170px - (20px * 2));
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.svg-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle; 
}


/* anchor links need an offset to clear the fixed header */
:target::before {
  content: "";
  display: block;
  height: 80px;
  /* fixed header height*/
  margin: -80px 0 0;
  /* negative fixed header height */ }

.documentation-post .post-header {
  position: sticky;
  top: 0;
  background: white;
  padding-top: 10px;
  border-bottom: .55px solid;
  z-index: 2;
 } 

/* 48em = 768px */
@media (min-width: 48em) {
  .documentation {
    display: flex;
    justify-content: space-between;
  }

  .sidebar {
    overflow-y: auto;
    height: calc(100vh - 80px);
    flex: 0 0 25%;
    max-width: 25%;
  }
  .sidebar {
    border-right: 1px solid black;
    padding-right: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
  }

  .main {
    padding-left: 20px;
    flex: 0 0 calc(75% - 40px);
    max-width: calc(75% - 40px); 
  } 
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
h5 {
  font-size: 16px;
}
.post-content h4, .post-content h5 {
  margin-top: 30px;
}

/* Table of Contents styles */
#markdown-toc, 
#markdown-toc > li > ul {
  list-style: none;
  margin-left: 0;
}
#markdown-toc > li {
  margin: 15px 0;
}
#markdown-toc > li > a {
  font-size: 18px;
  font-weight: 600;
  color: #111;
}
#markdown-toc > li > ul {
	margin-left: 15px;
}

#markdown-toc-references + ul > li {
  padding: 5px 0;
}

/* Homepage */
.site-title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
}
.home h1, .home h1 + p {
  text-align: center;
}
.home h1 {
  font-size: 42px;
  letter-spacing: 1.2px;
}
.home h1 + p {
  font-size: 19px;
  color: #424242;
}


.post-title {
  letter-spacing: 1.2px;
}
a {
  font-weight: 500;
}

.quick-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 40px 0;
}
.quick-cards h2 {
	margin-bottom: 0;
	min-width: 200px;
	text-align: center;
	padding: 20px;
}