.wrapper {
	max-width: calc(1170px - (20px * 2));
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.svg-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle; 
}

a, a:visited, a:hover, a:focus {
  color: #1756a9;
}

.site-header {
  background: #426ea8;
}
.site-title, .site-title:visited {
  color: white;
}
.site-nav .page-link {
  color: white;
}

/* anchor links need an offset to clear the fixed header */
:target::before {
  content: "";
  display: block;
  height: 80px;
  /* fixed header height*/
  margin: -80px 0 0;
  /* negative fixed header height */ }

.documentation-post .post-header {
  position: sticky;
  top: 0;
  background: white;
  padding-top: 10px;
  border-bottom: .55px solid;
  z-index: 2;
 } 

/* 48em = 768px */
@media (min-width: 48em) {
  .documentation {
    display: flex;
    justify-content: space-between;
  }

  .sidebar {
    overflow-y: auto;
    height: calc(100vh - 80px);
    /* flex: 0 0 25%;
    max-width: 25%; */
    flex: 0 0 250px;
    max-width: 250px;
  }
  .sidebar {
    border-right: 1px solid black;
    padding-right: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
  }

  .main {
    padding-left: 20px;
    /* flex: 0 0 calc(75% - 40px);
    max-width: calc(75% - 40px);  */
    flex: 0 0 calc(100% - 290px);
    max-width: calc(100% - 290px); 
  } 
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
h5 {
  font-size: 16px;
}
.post-content h4, .post-content h5 {
  margin-top: 30px;
}

/* Table of Contents styles */
#markdown-toc, 
#markdown-toc > li > ul {
  list-style: none;
  margin-left: 0;
}
#markdown-toc > li {
  margin: 15px 0;
}
#markdown-toc > li > a {
  font-size: 18px;
  font-weight: 600;
  color: #111;
}
#markdown-toc > li > ul {
	margin-left: 15px;
}

#markdown-toc-references + ul > li {
  padding: 5px 0;
}

/* Homepage */
.site-title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
}
.home h1, .home h1 + p {
  text-align: center;
}
.home h1 {
  font-size: 42px;
  letter-spacing: 1.2px;
}
.home h1 + p, h1.post-title + p {
  font-size: 19px;
  color: #424242;
}


.post-title {
  letter-spacing: 1.2px;
}
a {
  font-weight: 500;
}

.quick-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0;
}
.quick-cards a {
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  color: black;
}
.quick-cards a > div {
  margin-bottom: 0;
  min-width: 200px;
  text-align: center;
  padding: 20px;
}
.quick-cards h2 {
	margin-bottom: 0;
}


.connect-cards > div {
  margin-bottom: 30px;
}
.connect-cards h2 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 5px;
}
@media(min-width:620px){
  .connect-cards {
    display: grid;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    grid-gap: 30px;
  }
  .connect-cards > div {
    margin-bottom: 0;
  }
}


.news-grid {
  list-style: none;
  margin-left: 0;
}
.news-grid h2 {
  font-size: 20px;
  line-height: 30px;
}

/* styling code boxes */
code {
  font-size: 90%;
}
.highlighter-rouge .highlight {
  background: #f5f5f5; 
  border-left: 3px solid #426ea8;
  border-radius: 0;
}
.highlight code {
	background: #f5f5f5;
}


/* semantic components within table */
table td span {
  display: inline-block;
  min-width: 43px;
}
#identification + table td span {
  min-width: 30px;
}
#filestatus + table td span {
  min-width: 55px;
}

/* semantic components dropdowns */
#audio-elements + table, #document-elements + table, #text-elements + table, #image-elements + table, #video-elements + table {
  margin-bottom: -50px;
}
#semantic-audio, #semantic-document, #semantic-text, #semantic-image, #semantic-video {
  padding-top: 80px;
}
 
summary {
  font-weight: 600;
  padding: 10px;
  background: #f5f5f5;
}
summary::marker {
  color: #426ea8
}
summary:hover {
  cursor: pointer;
}
details dl {
  font-size: 90%;
	column-count: 3;
  column-gap: 40px;
  column-rule: 2px solid #426ea8;
	padding: 5px 15px 15px;
	background: #f5f5f5;
	
}
details dt {
  display: inline-block;
  width: 60px;
}
details dd {
  display: inline-block;
  width: calc(100% - 65px);
}
@media(max-width:1170px){
  details dl {
    column-count: 2;
  }
}
@media(max-width:480px){
  details dl {
    column-count: 1;
  }
}

/* noramlize table rows */
table tr td:first-child {
  width: 150px;
}
/* excluse command line table */
#command-line-options + p + table tr td:first-child {
	width: auto;
}


/* ALERT BOX */
a.alert-box {
	padding: 20px;
	margin-bottom: 40px;
	background: #f5f5f5;
	color: black;
	display: block;
	font-size: 19px;
  line-height: 21px;
	border: 1px solid #e8e8e8;
	border-left: 15px solid #426ea8;
  display: flex;
}
a.alert-box svg {
  padding-right: 10px;
}

/* FOOTER */
.contact-list li + li {
  padding-top: 5px; 
}
.footer-col-wrapper {
  color: #111;
}
